{% load static %}
{% include 'Myprofile/navbar.html' %}
<!DOCTYPE <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Vishal Kumar</title>
        
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
    
</head>


<body id="body-color">

    
    <br>
    <div style="padding-top: 4rem;" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/mydp1.jpg' %}">
                    <hr>
                    <h4>Hi I'm Vishal</h4>
                    <p>I love coding and building amazing web apps.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div id="profile-wrapperr" class="card card-body h-100">
                    <h4>About me</h4>
                    <hr>
                    <p>I like to build stuffs to tickle my brain. Tech-savvy and a fast learner, always eager to learn about new skills. Possess excellent communication skills and have an eye for detail. Flexible to work in any environment as required.</p>
                    <p>I like to work on frontend/backend/both as required.</p>
                    <p>Currently seeking a role to enhance and explore the technical skills I have gained so far.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div id="profile-wrapperr" class="card card-body h-100">
                    <h4>How I learn</h4>
                    <hr>
                    <p>I mostly learn through online portals at my own time and pace. 'Google' and 'Stack Overflow' plays a huge role in my learning.</p>
                    <p>As a self-taught developer I spend more time figuring out the answers, that process of teaching and clarifying myself on a particular concept gives me more experience on what works and what does not.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="profile-wrapperr" class="card card-body h-100">
                    <h4>What I know</h4>
                    <hr>
                        <p>
                            &#x25cf Python<br>
                            &#x25cf Django<br>
                            &#x25cf JavaScript<br>
                            &#x25cf React.js<br>
                            &#x25cf Git<br>
                            &#x25cf REST API<br>
                            &#x25cf HTML<br>
                            &#x25cf CSS
                        </p>
                </div>
            </div>
        </div>
    <br>
    <!-- <div class='row'>
        <div class="col-md-12">
            <div class="card card-body h-100" id="profile-wrapperr">
                <h4>Work Experience</h4>
                <hr>
                <h5>US IT Recruiter                                                                                                                   Aug 2019- Feb 2020
                Gimmko Technology, Mohali</h5>

                <p>
                •	Worked on various technical requirements on W2, C2C and 1099.<br>
                •	Sourcing potential candidates from various portals like monster.com, career-builder, LinkedIn etc.<br>
                •	Parsing specialized skills and qualifications to screen IT resumes.<br>
                •	Working with candidates on different work visas.<br>
                •	Have some experience on non-technical requirements like BA and QA.  <br>
                </p>
            </div>
        </div>
    </div>
    <br> -->
</div>

</body>
<div class="footer">
    <div class="contact">
        <ul class="contact-list">
            <li>Email: vskkr007@gmail.com</li><br>
            <li>Phone: +91-9646779014</li>
        </ul>
    </div>
    <div>
        <ul id="ul" class="social-links">
            <li><a href="https://github.com/Vishal-py-js" target="blank"><img class="social" src="{% static 'images/Github.png' %}"></a></li>
            <li><a href="https://www.facebook.com/vsk0619" target="blank"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
            <li><a href="https://www.instagram.com/vishalk83/" target="blank"><img class="social" src="{% static 'images/Instagram.jpg' %}"></a></li>
            <li><a href="https://www.linkedin.com/in/vishalrti/" target="blank"><img class="social" src="{% static 'images/LinkedIn.png' %}"></a></li>
        </ul>
    </div>
</div>
</html>